* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}
/*BLOG FILLER - TEMP*/
#notice {
    text-align: center;
    
}

body {
    width: 100%;
   background-color: whitesmoke;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;


}

button {
    font-family: 'Roboto', sans-serif;
}



.nav-links a {
    color: whitesmoke;
}



header {
    display: flex;
    background-color: white;
    align-items: center;
    height: 10vh;
    width: 100%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
   
    

}

nav {
    flex:2;
    

}

hr {
    border: 1px solid gainsboro;
}



.branding {
    flex: 1;
    
}

.branding, .nav-links {
    display: flex;
    justify-content: space-evenly;
    
}

.nav-links {
    justify-content: space-evenly;
    list-style: none;
    
  
    
    
}

.nav-links a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;

}



#homepage-content {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    align-items: center;

}

.cloud-computing img {
    width: 800px;
    animation: drop 1.5s ease;
    
}

.hero-text {
    
    flex: 1;
}
.intro-text h1 {
    font-size: 100px;
    font-weight: 550;
    color: #344966;
    
}

.intro-text p {
    
    font-size: 20px;
    color: #344966;
    width: 50%;
}
 
span {
    color: #62b6cb;
    font-weight: 900;
}

#button-blog {
    padding: 50px 0px 0px 0px;
}

.butt-blog {
    border: 2px solid #f79e02;
    background: linear-gradient(45deg,  #f79e02,  #ffcd44);
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 800;
    color: white;
    width: 150px;
    height: 45px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.cloud-computing {
    flex: 1;
}




#homepage {
    background: antiquewhite;
    width: 100%;
}

#main-content {
    text-align: center;
    
}

#main-content h1 {
    margin-top: 100px;
    margin-bottom: 10px;
    font-weight: 800;
    font-size: 24px;
    color: #62b6cb;
}

#main-content p {
    margin-top: 5px;
    font-size: 20px;
    color: #344966;
    margin: auto;
    width: 80%; 
    
    
}

#project-process img {
    margin: auto;
    margin-top: 100px;
    width: 800px;
    animation: drop 2.5s ease;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.circle1-index {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: -1;
    opacity: 0.5;
    width: 800px;
}
.circle2-index {
    position: absolute;
    top: 60%;
    right: 40%;
    z-index: -1;
    opacity: 0.4;
    width: 400px;
    
}
.circle3-index {
    position: absolute;
    top: 90%;
    right: 60%;
    z-index: -1;
    opacity: 0.3;
    width: 200px;
    
}

footer {
    background-color: grey;
    padding: 50px;
}


/*BLOG*/

#blog {
    
    width: auto;
    padding: 20px;
}

#skill-set {
    display: flex;
    justify-content: flex-end;
}

#Skills {
    text-align: end;
}
















#contact-image {
    background-color: coral;
    padding: 100px;
}

.email {
    background-color: white;
}

#contact {
    display: flex;
}




    
   
    
    



    
    

















.white-container {
    background-color: #f0fafc;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    box-shadow: 5px 2px 5px grey;
    padding: 50px;
}

main {
    margin: auto;  
    width: 80%;
    margin-top: 50px;

}

#img-caption h1, .projects h1, .project-desc h1 {
    text-align: center;
    font-weight: 500;
    margin-bottom: 50px;
    margin-top: 25px;
}

.project-desc h4 {
    margin-bottom: 20px;
}

.project-desc h1 {
    margin-top: 50px;
}





/*CONTACT PAGE*/
.circle1 {
    position: absolute;
    top: 20%;
    right: 5%;
    z-index: -1;
    opacity: 1;
    width: 500px;
}






.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    

}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #62b6cb;
    

}

.contact .content p {
    margin-top: 20px;
    margin-bottom: 50px;
    color: #344966;
}

.container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
/*
.contactInfo {
    margin-left: 0px;
    font-size: 24px;
    margin-right: 250px;
}*/

.contactInfo h2 {
    font-size: 36px;
    font-weight: 600;
    
}

.text h3 {
    color: #62b6cb;
    font-size: 30px;
    font-weight: 500;

}

.text p {
    color: #344966;
}



.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 70px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    margin-right: 25px;
    
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 25px;
    flex-direction: column;
    font-weight: 400;
}

.container .contactInfo .box .text h3 {
    font-weight: 600;


}

.contactForm {
    width: 50%;
    padding: 25px;
    background: linear-gradient(to right bottom, 
    rgba(255,255,225,.2),
    rgba(255,255,255,.3));
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 10px;
    backdrop-filter: blur(1rem);
    z-index: 2;
    
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 600;
    margin-bottom: 50px;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
    
}

.contactForm .inputBox input, 
.contactForm .inputBox textarea{
    border: none;
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 16px;
    border-bottom: solid black 1px;
    outline: none;
    resize: none;
}

#submit-butt {
    background-color: orange;
    border-bottom: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    padding: 5px;
    font-weight: 800;
}



@media (max-width: 1440px) {
    
    
    
    

.cloud-computing img {
    width: 100%;
}
}

@media (max-width: 1024px) {
    #homepage-content {
        flex-direction: column;
    }
    .hero-text {
        margin-top: 5vh;
        text-align: center;
    }
    .hero-text p {
        margin: auto;
    }

    .intro-text h1 {
        font-size: 100px;
        
    }

    
    

    .cloud-computing img {
        margin-top: 100px;
        width: 75%;
        right: 50%;
        transform: translate(10%)
        
    }

    #project-process img {
        margin-top: 50px;
        width: 75%;
        right: 50%;
        
    }

    .projects h1 {
        margin-top: 25px;
    }

    .intro-text p {
        font-size: 14px;
    }

    #button-blog {
        padding: 20px 0px 0px 0px;
    }

    .contact {
        flex-direction: column;
    }

    .nav-links a {
        margin-left: 20px;
        font-size: 75%;
    }

    



    
}

@media (max-width: 1180px) {
    .contact {
        padding:50px;
    }

    .container { 
        flex-direction: column;
    }

    .container .contactInfo, .contactForm {
        margin-bottom: 40px;
        width: 100%;
    }
}

@media (max-width: 425px) {
   

    .branding img {
        min-width: 55%;
    }

    .butt-blog {
        margin-top: 20px;
        padding: 2%;
        width: 45%;
    }

    #main-content h1, #main-content p {
        font-size: 80%;
    }

    nav li {
        font-size: 80%;
        
    }

    

    .intro-text h1 {
        font-size: 60px;
    }

    .contact {
        padding:80px;
    }

    .container { 
        flex-direction: column;
        
    }

    .container .contactInfo, .contactForm {
        margin-bottom: 40px;
        width: 100%;
    
        
    }

    .text, .box {
        flex-direction: column;
        align-items: center;
    }

    .text h3, .text p {
        position: relative;
        left: -25px;
        font-size: 75%;
        margin: 5px;
    }

    .contactForm {
        width: 100%;
        padding: 10px;
    }

    .contactForm {
        text-align: center;
    }

    .contactForm label {
        font-size: 15px;
    
    }

    


}

@media (max-width: 375px) {
    .contactForm {
        width: 100%;
        padding: 5px;

    }

    .contactForm h2 {
        text-align: center;

    }
    
}


 
    








